.counter-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .counter {
    font-size: 50px;
    padding: 10px 20px;
    background-color:white;
    border-radius: 4px;
  }
  
  .counter-animation {
    animation-name: countAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes countAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  